{
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "strict",
    "insertPragma": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "printWidth": 152,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "useTabs": true,
    "vueIndentScriptAndStyle": false,
    "tabWidth": 2,
    "rangeEnd": 617
}