<!-- <div class="card-body" tabindex="0" role="button">
    <div class="card-img">
        <img src="../static/face19.jpg" class="rounded-circle card-img" />
    </div>

    <h3 class="h4 pb-3 pt-5" id="title">Curso</h3>
    <div class="card-content">
        <p class="card-text" id="prof">Prof. Eyner Silva Silva Vivanco</p>
        <p class="card-text">
            <a href="#"><small>ehsv1988@gmail.com</small></a>
        </p>
        <p><strong>Lunes y Viernes 11AM</strong></p>
    </div>
</div>

<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->